* {
    padding: 0;
    margin: 0;
}

body {
    background-size: cover;
    background-color: #17182f;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 200px;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.main-text {
    color: white;
    font-size: 20px;
}

.main-text > h1 {
    padding: 20px;
}

.main-text .sub-text {
    opacity: 0.7;
    padding: 10px;
}

.main-text .sub-text > a {
    text-decoration: none;
    color: rgb(57, 57, 255);
}

.main-text .sub-text > i {
    color: rgb(57, 57, 255);
}

.main-text .sub-text > a:hover {
    text-decoration: underline;
}

.socials {
    opacity: 1;
    display: inline-block;
}

.socials > h1 {
    color: white;
    font-size: 30px;
    margin-top: 50px;
    padding: 5px;
}

.socials > a {
    /* Bug fix */
    text-decoration: none;
    opacity: 0.3;
    transition-duration: 1s;
}

.socials > a:hover {
    opacity: 1;
}

.socials > a > i {
    font-size: 50px;
    color: black;
    transition-duration: 1s;
    vertical-align: middle;
    padding: 5px;
}

.socials > a > i:hover {
    font-size: 70px;
}

.socials > a > .fab.fa-discord:hover {
    color: #2b1cf1;
}

.socials > a > .fab.fa-github:hover {
    color: #fdfdfd;
}
